.add-encounter form {
    margin-top: 2em;
}

.hidden {
    display: none;
}

.add-encounter-button {
    border: 1px solid #ca03ce;
    color: #ca03ce;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 1.25em;
}

.submit-encounter {
    border: 1px solid #ca03ce;
    background-color: #ca03ce;
    color: #ffffff;
    border-radius: 15px;
    font-size: 1.25em;
}

.animal-singular {
    font-weight: bold;
}

.singular-button {
    border: 1px solid black;
    color: black;
    background-color: white;
    border-radius: 15px;
    font-size: 1.25em;
}