.landing-page input {
    width: 250px;
    height: 188px;
    margin-bottom: 2em;
}

.demo {
    border: 1px solid #ca03ce;
    background-color: #ca03ce;
    color: #ffffff;
    width: 250px;
    padding: .5em;
    border-radius: 25px;
    margin-bottom: 2em;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
}

.demo p {
    background-color: #ca03ce;
}

@media only screen and (min-width: 710px) {
    .landing-page input {
        width: 600px;
        height: 400px
    }

    .start-button {
        float: left;
        margin-right: 5em;
    }

    .demo p {
        font-size: 1.25em;
    }

    .demo {
        margin-top: 5em;
    }

    .landing-welcome {
        font-size: 1.75em;
    }
}