.signin-select,
.add-encounter-button {
    float: left;
}

.signin-select {
    margin-bottom: 2em;
}

.signup-button, .signin-button {
    margin-top: 1em;
}

ul li {
    text-decoration: none;
}

ul {
    list-style: none;
    width: 30%;
    border: 1px black solid;
    padding: 1em;
}

span.required {
    font-weight: bold;
}

.text-input {
    margin-bottom: 1em;
}

form {
    clear: both;
}

.animals-header {
    clear: both;
}
