.signin-select,
.add-encounter-button {
    float: left;
}

.signin-select {
    margin-right: 1em;
}

.dropdowns {
    clear: both;
    margin-top: 2em;
}

.animal-dropdown {
    margin-right: 2em;
}

.animal-dropdown,
.zoo-dropdown {
    margin-left: 1em;
}

.dropdowns h3 {
    display: inline-block;
}