.signin-select,
.add-encounter-button {
    float: left;
}

.signin-select {
    margin-right: 1em;
}

ul li {
    text-decoration: none;
}

ul {
    list-style: none;
    width: 25%;
    border: 1px black solid;
    padding: 1em;
}
