form {
    margin-bottom: 2em;
}

.signup-select, .signin-select {
    margin-bottom: 2em;
    display: block;
    border: 1px solid #ca03ce;
    color: #ca03ce;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 1.25em;
}

.signup-button, .signin-button {
    margin-top: 1em;
    border: 1px solid #ca03ce;
    background-color: #ca03ce;
    color: #ffffff;
    border-radius: 15px;
    font-size: 1.25em;
}

@media only screen and (min-width: 710px) {

}